$dark-green: #61892F;
$green: #86C232;
$black: #222629;
$dark-gray: #474B4F;
$gray: #6B6E70;
$light-gray: #909399;
$white: #d0d3d9;

$github-color: #24292e;
$github-background-color: #eff3f6;
$github-border-color: rgba(27,31,35,.2);

$code-background: #383838;
$code-color: #dd871f;
