.main_header {
    text-align: center;
    font-weight: 800;
    font-size: 5rem;
}

.main_hero {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: $green;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;

    .anchor {
        visibility: visible;
        text-decoration: none;
        border-bottom-color: transparent;
        cursor: pointer;
        padding-left:1rem;
        color: $light-gray;
    }
}

h2, h3 {
    font-weight: 600;
    line-height:120%;
    margin-bottom:0.5rem;
}

h1 {
    font-size:2rem;
    line-height:1;
    font-weight: 700;
    text-transform: uppercase;
    margin:1rem 0;
}
