@import "helpers";

.main-header {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2em;
    margin-top: 1rem;

    @include tablet-desktop {
        font-size: 5rem;
    }
}

.main-hero {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: $green;
    margin-bottom: 1.5rem;

    @include tablet-desktop {
        font-size: 1.5rem;
    }
}

h1, h2, h3, h4, h5 {
    text-align: center;
    margin-top: 2*$bottom-spacing;
    margin-bottom: $bottom-spacing;

    .anchor {
        padding-left:1rem;
        visibility: visible;
        text-decoration: none;
        cursor: pointer;
        border-bottom-color: transparent;
    }

    .anchor:hover {
        color: $black;
        background-color: $green;
    }
}

h1 {
    font-size:2rem;
    line-height:1;
    font-weight: 700;
    text-transform: uppercase;
}

h2, h3 {
    font-weight: 600;
    line-height:120%;
}
