@import "helpers";
@import "colors";

.main-header {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2em;
    margin-top: 1rem;

    @include tablet-desktop {
        font-size: 5rem;
    }
}

.main-hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    color: $green;
    margin-bottom: $bottom-spacing;

    @include tablet-desktop {
        font-size: 1.5rem;
        display: block;
    }

    #{$a-tags} {
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        color: $github-color;
        background-color: $github-background-color;
        margin: auto;

        cursor: pointer;
        padding: 2px 5px;

        border-color: $github-border-color;
        border-radius: .25em;

        @include tablet-desktop {
            position: absolute;
            right: -11em;
            top: 0;
        }
    }
}

h1, h2, h3, h4, h5 {
    text-align: center;
    margin-top: 2*$bottom-spacing;
    margin-bottom: $bottom-spacing;

    .anchor {
        margin-left: 1rem;
        visibility: visible;
        text-decoration: none;
        cursor: pointer;
        border-bottom-color: transparent;
    }

    .anchor:hover {
        color: $black;
        background-color: $green;
    }
}

h1 {
    font-size: 2rem;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

h2, h3 {
    font-weight: 600;
    line-height: 120%;
}
