{% macro navigation() %}
    <a href="javascript:void(0);" onclick="burger()" id="mobile">&#9776;</a>
    <div class="navigation_points" id="bger">
        {% for subsection in section.subsections | sort %}
            {% set subsection_item = get_section(path=subsection) %}
            <div class="navigation_point">
                <img class="icon" src="">&nbsp;<a href="{{ subsection_item.permalink | safe }}">{{ subsection_item.title  }}</a>
            </div>
        {% endfor %}

        <div type="button" class="icon search"></div>
    </div>
    <div class="children_pages" id="bger">
        {% for subpage in section.pages %}
            <div class="child_page">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH5AUDFDoqfmnPqQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAC6SURBVEjH7ZTBCcIwFIa/lO6hA7iA6BCO4AZe/xHeCF49C4I7VOfQk2PUS4QibUzahiL0h0AOj7x87wtx+JhZTWQkLYFnTG1Bj5jZBVjE1LpvAknux+F1CkkvgkazB7DJ0kDSHniZ2RFY5yA4SToAKzO7d5EUoVk3V0fZWdLO11dt4gc58Ll62a1OBr2igJ8tcBuLoO0S1Wdfpt40lTALQTNlYI5ujAbTEaT8riHi2cHs4B8dpM5+coI3MpVSlNj0qyUAAAAASUVORK5CYII=" width="16px" />&nbsp;<a href="{{ subpage.permalink | safe }}">{{ subpage.title  }}</a>
            </div>
        {% endfor %}
    </div>
{% endmacro navigation %}

{% macro breadcrumbs(page, include_site=false) %}
    <div id="breadcrumbs">
        {% for parent in page.ancestors %}
            {% set s = get_section(path=parent, include_pages=false) %}
            <a href="{{s.permalink}}">
                {% if not loop.first %}→{% endif %} {{s.title}}
            </a>
        {% endfor %}
        {% if include_site %}
            <div class="current_page">→ {{ page.title }}</div>
        {% endif %}
    </div>
{% endmacro breadcrumbs %}



{% macro taxonomies(page) %}
    <div id="taxonomies">
        {% if section.date %}
        <date>{{ section.date | date(format="%d.%m.%Y") }}</date>
        {% endif %}

        {% if section.taxonomies.authors %}
        <ul>
            {% for author in section.taxonomies.authors %}
            <li><a href="{{ get_taxonomy_url(kind="authors", name=author) | safe }}" >{{ author }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if section.taxonomies.tags %}
        <ul>
            {% for tag in section.taxonomies.tags %}
            <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}" >#{{ tag }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endmacro taxonomies %}

{% macro table_of_content(page) %}
    {% set_global header_count = 0 %}
    {% for h2 in page.toc %}
        {% set_global header_count = header_count + 1 %}
        {% for h3 in h2.children %}
            {% set_global header_count = header_count + 1 %}
            {% for h4 in h3.children %}
                {% set_global header_count = header_count + 1 %}
            {% endfor %}
        {% endfor %}
    {% endfor %}

    {% if header_count > 4 %}
    <ul id="toc">
        {% for h2 in page.toc %}
        <li>
            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
            {% if h2.children %}<ul>
                {% for h3 in h2.children %}
                <li>
                    <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endmacro table_of_content %}

