{% extends "index.html" %}

{% block title %}
    {{ config.title }} | {{ page.title }}
{% endblock title %}

{% block nav %}
    <ul id="breadcrumbs">
        {% for parent in page.ancestors %}
            {% set s = get_section(path=parent, include_pages=false) %}
            <li>
                <a href="{{s.permalink}}">{{s.title}}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock nav %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {{ macro::taxonomies(page=page) }}

    {{ macro::table_of_content(page=page) }}

    <article>
        {{ page.content | safe }}
    </article>
{% endblock content %}
