{% extends "index.html" %}

{% block title %}
    {{ config.title }} | {{ section.title }}
{% endblock title %}

{% block nav %}
    <ul id="breadcrumbs">
        {% for parent in section.ancestors %}
            {% set s = get_section(path=parent, include_pages=false) %}
            <li><a href="{{s.permalink}}">{{s.title}}</a>&nbsp;&#8594;&nbsp; </li>
        {% endfor %}
        <li>{{ section.title }}</li>
    </ul>
    {{ macro::navigation() }}
{% endblock nav %}

{% block content %}
    <h1>{{ section.title }}</h1>
    {{ macro::taxonomies(page=section) }}

    {{ macro::table_of_content(page=section) }}

    <article>
        {{ section.content | safe }}
    </article>
{% endblock content %}
